<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>update address</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <div class="container my-1">
      <h2 class="mb-5">Update address state province</h2>
      <div class="row">
        <div class="col-md-5">
          <form
            action="#"
            th:object="${address}"
            th:action="@{/provinceAddress/updateAddress/{id}(id=${address.addressid})}"
            method="post"
          >
            <div class="row">
              <div class="form-group col-md-6">
		</div>
			<div class="form-group col-md-6">
                <label for="id" class="col-form-label">Id</label>
                <input
                  type="text"
                  th:field="${address.addressid}"
                  class="form-control"
                  id="id"
                  readonly
                />
              </div>
	
			<div class="form-group col-md-6">
			<label for="stateprovince"  class="col-form-label">State province</label>
            	<select id="stateprovince" th:field="*{stateprovince}">
                	<option
                    	th:each="state : ${stateprovinces}"
                        th:value="${state.stateprovinceid}"
                        th:text="${state.stateprovinceid + ': ' + state.name}"
                        th:selected="${address.stateprovince==state}">
                  	</option>
                 </select>		
			</div>
              <div class="form-group col-md-6">
                <label for="visible" class="col-form-label">Address 1</label>
                <input
                  type="text"
                  th:field="*{addressline1}"
                  class="form-control"
                  id="addressline1"
                  placeholder="ADDRESS ONE"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="visible" class="col-form-label">Address 2</label>
                <input
                  type="text"
                  th:field="*{addressline2}"
                  class="form-control"
                  id="addressline2"
                  placeholder="CAN BE EMPTY"
                />
              </div>
    	
    		<div class="form-group col-md-6">
                <label for="city" class="col-form-label">City</label>
                <input
                  type="text"
                  th:field="*{city}"
                  class="form-control"
                  id="city"
                  placeholder="CITY"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="postalcode" class="col-form-label">Code postal</label>
                <input
                  type="text"
                  th:field="*{postalcode}"
                  class="form-control"
                  id="postalcode"
                  placeholder="Postal code"
                />
              </div>
               
          	 <div class="col-md-6 mt-3">
                <input
                  type="submit"
                  name="action"
                  class="btn btn-primary"
                  value="Add"
                />
              </div>
              <div class="col-md-6 mt-3">
                <input type="reset" class="btn btn-secondary" value="Clear" />
              </div>
              <div class="col-md-6 mt-3">
                <input
                  href="/"
                  type="submit"
                  name="action"
                  class="btn btn-secondary"
                  value="Cancel"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      	<a href="/"><i class="fas fa-home ml-2"></i> Go back to main</a>
    </div>
  </body>
</html>
