<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Search customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <div class="container my-1">
      <h2 class="mb-5">Store</h2>
      <div class="row">
        <div class="col-md-5">
          <form
            action="#"
            th:object="${customer}"
            th:action="@{/customers/searchCustomer/{id}(id=${customer.customerid})}"
            >
            <div class="row">
              <div class="form-group col-md-6">
			</div>
		        <div class="form-group col-md-6">
                <label for="id" class="col-form-label">Id</label>
                <input
                  type="text"
                  th:field="${customer.customerid}"
                  class="form-control"
                  id="id"
                  readonly
                />
              </div>
               <div class="form-group col-md-6">
                <label for="id" class="col-form-label">Store Name</label>
                <input
                  type="text"
                  th:field="${customer.storeN}"
                  class="form-control"
                  id="name"
                  readonly
                />
              </div>
              </div>
            </div>
        </div>
      	<a href="/customers/"><i class="fas fa-home ml-2"></i> Go back to main</a>
  </body>
</html>